<#include "/common/header.html"/>
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<link
        href="/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet"/>
<link
        href="/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
<link href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet"/>
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="/js/apps.min.js"></script>
<script src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="/js/echarts.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<!-- begin #content -->
<div id="content" class="content">
    <h1 class="page-header">
        考试分析
    </h1>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div id='container' style="width:100% ; height:500px;border:1px solid #ccc;padding:10px;"></div>
        </div>
        <div class="col-md-6 column">
            <div class="alert alert-success alert-dismissable">
                <h4><strong  id="finishedUserCount"></strong>
                </h4>
            </div>
            <div class="alert alert-warning alert-dismissable">
                <h4><strong id="unFinishedUserCount" ></strong>
                </h4>
            </div>
            <div class="alert alert-info alert-dismissable">
                <h4><strong id="maxScort"></strong>
                </h4>
            </div>
            <div class="alert alert-info alert-dismissable">
                <h4><strong  id="minScort"></strong>
                </h4>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        参加考试学生
                    </h3>
                </div>
                <div class="panel-body" >
                    <div id="finishedUser"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        未参加考试学生
                    </h3>
                </div>
                <div class="panel-body" >
                    <div id="unFinishedUser"></div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="page-header">
        考生列表
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">数据列表</h4>
                </div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>登录名:</label>
                            <input type="text" class="form-control" id="userId-search" placeholder="登录名"/>
                        </div>
                        <div class="form-group">
                            <label>姓名:</label>
                            <input type="text" class="form-control" id="realName-search" placeholder="姓名"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">评分状态:</label>
                            <select id="state-search" class="form-control">
                                <option value="">全部</option>
                                <option value="0">未考试</option>
                                <option value="1">已考试</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">考生类别:</label>
                            <select id="userType-search" class="form-control">
                                <option value="">全部</option>
                                <option value="0">本地考生</option>
                                <option value="1">外来考生</option>
                            </select>
                        </div>
                        <button type="button" onclick="search();" class="btn btn-primary">查询</button>
                    </form>
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="datatable">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="checkall"/>
                            </th>
                            <th>试卷</th>
                            <th>考生登录名</th>
                            <th>考生真实姓名</th>
                            <th>状态</th>
                            <th>总分</th>
                            <th>计分时间</th>
                            <th>操作</th>
                            <th>二维码</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".checkall").click(function () {
        var check = $(this).prop("checked");
        $(".checkchild").prop("checked", check);
    });
    var table;
    $(document).ready(function () {
        table = $('#datatable').DataTable({
            "dom": 'rtlip',
            "ordering": false,
            "searching": false,
            "sPaginationType": "full_numbers",
            "pageLength": 25,
            "serverSide": true,//开启服务器模式，使用服务器端处理配置datatable
            "processing": true,//开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好
            "language": {
                "Processing": "正在加载中......",
                "zeroRecords": "对不起，查询不到相关数据！",
                "emptyTable": "表中无数据存在！",
                "lengthMenu": "显示 _MENU_ 条记录",
                "infoFiltered": "数据表中共为 _MAX_ 条记录",
                "info": '_START_ 到 _END_ 条,共 _TOTAL_ 条',
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "末页"
                }
            },
            ajax: function (data, callback, settings) {
                //封装请求参数
                var param = getQueryCondition(data);

                $.ajax({
                    type: "GET",
                    url: '/examUsers',
                    cache: false,  //禁用缓存
                    data: param,    //传入已封装的参数
                    dataType: "json",
                    success: function (result) {
                        //封装返回数据  如果参数相同，可以直接返回result ，此处作为学习，先这么写了。
                        var returnData = {};
                        returnData.draw = result.draw;//这里直接自行返回了draw计数器,应该由后台返回
                        returnData.recordsTotal = result.recordsTotal;//总记录数
                        returnData.recordsFiltered = result.recordsFiltered;//后台不实现过滤功能，每次查询均视作全部结果
                        returnData.data = result.data;
                        //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                        //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                        callback(returnData);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("查询失败");
                    }
                });
            },
            "columns": [
                {
                    "data": "userId",
                    "render": function (data, type, full, meta) {
                        return '<input type="checkbox"  class="checkchild"  value="' + data + '" />';
                    }
                },
                {"data": "examTitle"},
                {"data": "userId"},
                {"data": "realName"},
                {
                    "data": "state",
                    "render": function (data, type, full, meta) {
                        if (data == 0) {
                            return '未考试';
                        } else {
                            return '已考试';
                        }
                    }
                },
                {"data": "score"},
                {"data": "updateTime"},
                {
                    "data": function (row, data, index) {
                        var content = '';
                        content += '<a class="btn btn-info" href="/examUsers/stationRecordListPage?userId=' + row.userId + '&examId=' + row.examId + '">';
                        if (row.score == null || row.score == '') {
                            content += '评分</a>';
                        } else {
                            content += '详情</a>';
                        }
                        return content;
                    }
                }, {
                    "data": function (row, data, index) {
                        var content = '';
                        content += '<a class="btn btn-info" href="/downLoad/userQrcode?userId=' + row.userId + '&realName=' + row.realName + '&examId=' + row.examId + '">';
                        content += '下载</a>';
                        return content;
                    }
                }
            ],
            'columnDefs': [
                {"sClass": "text-center", 'targets': '_all'},
                {
                    "targets": [-3],
                    "render": function (data, type, full, meta) {
                        if (data != null && data != '')
                            return DateUtil.dateToStr("yyyy-MM-dd HH:mm", new Date(data));
                        return '';
                    }
                }
            ]
        });

    });

    function search() {
        table.ajax.reload();
    }

    //封装查询参数
    function getQueryCondition(data) {
        var param = {};
        //组装排序参数
        param.userId = $("#userId-search").val();
        param.realName = $("#realName-search").val();
        param.state = $("#state-search").val();
        param.userType = $("#userType-search").val();
        param.examId = clear('${examId}');
        //组装分页参数
        param.start = data.start;
        param.length = data.length;
        param.draw = data.draw;
        return param;
    }
    function clear(str) {
        str = str.replace(/,/g, "");//取消字符串中出现的所有逗号
        return str;
    }
</script>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById("container"));
    myChart.setOption({
        title: {
            text: '',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            type: 'scroll',
            orient: 'vertical',
            right: 10,
            top: 20,
            bottom: 20,
            data: []
        },
        series: [
            {
                name: '姓名',
                type: 'pie',
                radius: '55%',
                center: ['40%', '50%'],
                data: [],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    });
    var examId = clear('${examId}');

    $.ajax({
        async: true,
        url: '/count/getPie',
        data: {"examId": examId},    //传入已封装的参数
        dataType: "json",
        success: function (responseText) {
            var responseText = eval(responseText);
            myChart.setOption({
                legend : {
                    date: responseText.legend.data
                },
                series : {
                    data : responseText.series[0].data
                },
                title: {
                    text: "评分统计"
                }
            });
        },
        error: function () {
            //请求出错处理
            alert("加载失败");
        }
    })

</script>

<script type="text/javascript">
    var examId = clear('${examId}');
    $.ajax({
        async: true,
        url: '/count/detailStr',
        data: {"examId": examId},    //传入已封装的参数
        dataType: "json",
        success: function (responseText) {
            var finishedUser = responseText.finishedUser;
            var unFinishedUser = responseText.unFinishedUser;
            $("#finishedUser").html(finishedUser);
            $("#unFinishedUser").html(unFinishedUser);

            $("#maxScort").html("最高分 :"+responseText.maxScort);
            $("#minScort").html("最低分 :"+responseText.minScort);
            $("#finishedUserCount").html("参加考试人数 :"+responseText.finishedUserCount);
            $("#unFinishedUserCount").html("未参加考试人数 :"+responseText.unFinishedUserCount);

        },
        error: function () {
            //请求出错处理
            alert("加载失败");
        }
    })
</script>



<#include "/common/footer.html"/>
