<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Osce System | Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/style.min.css" rel="stylesheet"/>
    <link href="/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="/css/theme/default.css" rel="stylesheet" id="theme"/>
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/plugins/pace/pace.min.js"></script>
    <script src="/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/crossbrowserjs/html5shiv.js"></script>
    <script src="/crossbrowserjs/respond.min.js"></script>
    <script src="/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="/plugins/layer/layer.js"></script>
    <script src="/js/datetime.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
<div id="scroll-message">
    <div class="container">
        <!-- end page-header -->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header">
                <#if exam ??>
                    <h2>
                   <strong> ${exam.title!}动态监控</strong>
                </h2>
                </#if>
                </div>
            </div>
            <div class="col-md-12 column">
                <div class="alert alert-info alert-dismissable">
                    <h3>
                        <strong> 已经考完的学生</strong>
                    </h3>
                    <p>
                    <h3>${finishedUser!}</h3></p>
                </div>
            </div>

            <#if inUserList?? && inUserList?size gt 0>
            <div class="col-md-12 column">
                <div class="page-header">
                    <h3>
                        正在考试的学生
                    </h3>
                </div>
                <table class="table table-striped table-bordered" style="font-size:17px;" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th>
                            学生姓名
                        </th>
                        <th>
                            学生编号
                        </th>
                        <th>
                            分组
                        </th>
                        <th>
                            序号
                        </th>
                        <th>
                            已考站点
                        </th>
                        <th>
                            待考站点
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <#list inUserList as inUser>
                            <tr>
                                <td>${inUser.userName!}</td>
                                <td>${inUser.userId!}</td>
                                <td>${inUser.groupId!}</td>
                                <td>${inUser.sortNo!}</td>
                                <td>${inUser.finished!}</td>
                                <td>${inUser.unFinished!}</td>
                            </tr>
                        </#list>
                    </tbody>
                </table>
            </div>
            </#if>

            <#if toInUser?? && toInUser?size gt 0>
            <div class="col-md-12 column">
                <div class="alert alert-warning alert-dismissable">
                    <h3>
                        <strong>候考的学生</strong>
                    </h3>
                    <table class="table table-striped table-bordered" style="font-size:17px;" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th>
                                组号
                            </th>
                            <th>
                                姓名
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                            <#list toInUser as toUser>
                                <tr>
                                    <td>第${toUser.groupId!}组</td>
                                    <td>${inUser.userList!}</td>
                                </tr>
                            </#list>

                        </tbody>
                    </table>
                </div>
            </div>
            </#if>

            <div class="col-md-12 column">
                <div class="alert alert-danger alert-dismissable">
                    <h3>
                        <strong> 未报到学生</strong>
                    </h3>
                    <p><h3>${outUserList!}</h3></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var myVar = setInterval(
        function () {
            refrestView()
        }, 10000
    );

    function refrestView() {
        window.location.reload();
    }
</script>

</body>
</html>