<#include "/common/header.html"/>
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link
	href="/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link
	href="/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="/js/apps.min.js"></script>
<script src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li>
			<a href="usersPage">你没有给该学生${user.realName!}编号${user.loginName!}为打分的权限，如果需要，请联系管理员</a>
		</li>
	</ol>
</div>

<#include "/common/footer.html"/>
