<#include "/common/header.html"/>
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link
	href="/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link
	href="/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="/js/apps.min.js"></script>
<script src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li>
			<a href="usersPage">主页</a>
		</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">
		考生打分
		<small class="text-danger">分值：<input type="text" id="score" value=""/></small>
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-md-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<h4 class="panel-title">数据列表</h4>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<th>试卷</th>
							<th>考站</th>
							<th>考题</th>
							<th>考生登录名</th>
							<th>考生真实姓名</th>
							<th>状态</th>
						</thead>
						<tbody>
							<td>${examStationRecord.examTitle!}</td>
							<td>${examStationRecord.stationName!}</td>
							<td>${examStationRecord.questionTitle!}</td>
							<td>${examStationRecord.userId!}</td>
							<td>${(user.realName)!}</td>
							<td><#if examStationRecord.state==0>未评分<#else>已评分</#if></td>
						</tbody>
					</table>
					<table class="table table-striped table-bordered" cellspacing="0" width="100%" id="datatable">
						<thead>
							<tr>
								<th>一级标题</th>
								<th>二级标题</th>
								<th>分值</th>
								<th>得分</th>
							</tr>
						</thead>
						<tbody>
						<#if scoreItems?? && scoreItems?size gt 0>
						<#list scoreItems as item>
							<tr>
								<td>${item.title!}</td>
								<td>${item.subtitle}</td>
								<td>${item.score}</td>
								<td><input type="text" name="score" onkeyup="this.value=this.value.replace(/\D/g,'');" onblur="countScore();"></td>
							</tr>
						</#list>
						<#else>
							<tr>
								<td colspan="4" class="text-center">题目暂无评分表！&nbsp;&nbsp;<a href="/questionsPage" class="btn btn-default">创建评分表</a></td>
							</tr>
						</#if>
						</tbody>
					</table>
					<div align="center">
		                <a href="/examUsers/stationRecordListPage?examId=${examStationRecord.examId}&userId=${examStationRecord.userId}" class="btn btn-default">返回</a>
		                <a class="btn btn-primary" id="submitBtn">提交</a>
                	</div>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-12 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
<script>
function countScore(){
	var count = 0;
	$('#datatable tbody tr input[name="score"]').each(function(){
		var numStr = $(this).val()==''?0:$(this).val();
		count += parseInt(numStr);
	});
	$('#score').val(count);
}

$('#submitBtn').click(function(){
	var params = {};
	var examData = [];
	var score = $('#score').val();
	if(score==''){
		layer.msg("请先打分！");
		return;
	}
	var flag = true;
	$('#datatable tbody tr').each(function(){
		var item = {};
		var title = $(this).find('td:eq(0)').text();
		var subtitle = $(this).find('td:eq(1)').text();
		var score = $(this).find('td:eq(2)').text();
		var getScore = $(this).find('td:eq(3)').find('input[name="score"]').val();
		if(getScore>score){
			layer.msg("得分不能超过题目总分！");
			flag = false;
			return;
		}
		item.title = title;
		item.subtitle = subtitle;
		item.score = score;
		item.getScore = getScore;
		examData.push(item);
	});
	if(!flag){
		return;
	}
	params.examId = clear('${examStationRecord.examId}');
	params.userId = clear('${examStationRecord.userId}');
	params.id = clear('${examStationRecord.id}');
	params.examData = JSON.stringify(examData);
	params.score = score;
	//计算总分并提交
	$.ajax({
       type: "POST",
       url:'/examUsers/saveStationScore',
       data: params,
       success: function(result) {
           if(result=='success'){
               layer.msg('保存成功！');
               location.href='/examUsers/stationRecordListPage?examId=${examStationRecord.examId}&userId=${examStationRecord.userId}';
           }else{
        	   layer.msg('保存失败！');
           }
       }
   });
	
});

function clear(str) {
    str = str.replace(/,/g, "");//取消字符串中出现的所有逗号
    return str;
}
</script>
<#include "/common/footer.html"/>
