<#include "/common/header.html"/>
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
	<link href="/plugins/ztree/css/metroStyle/metroStyle.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="/plugins/DataTables/media/js/jquery.dataTables.js"></script>
	<script src="/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<script src="/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	<script src="/js/apps.min.js"></script>
	<script type="text/javascript" src="/plugins/ztree/js/jquery.ztree.core.min.js"></script>
	<script type="text/javascript" src="/plugins/ztree/js/jquery.ztree.excheck.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a href="usersPage">主页</a></li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">角色管理</h1>
	<!-- end page-header -->
	
	<!-- begin row -->
	<div class="row">
	    <!-- begin col-12 -->
	    <div class="col-md-12">
	        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">数据列表</h4>
                        </div>
                        <div class="panel-body">
                        <form class="form-inline">
                        <@shiro.hasPermission name="/permissions/delete">  
                        	<button type="button" onclick="delById();" class="btn btn-info" style="float: right; margin-right: 1px;">删除</button>
					    </@shiro.hasPermission>
					    <@shiro.hasPermission name="/permissions/update">  
                        	<button type="button" onclick="update();" class="btn btn-info" style="float: right; margin-right: 1px;">修改</button>
					    </@shiro.hasPermission>
                        <@shiro.hasPermission name="/permissions/add">  
                        	<button type="button" onclick="add();" class="btn btn-info" style="float: right; margin-right: 1px;">新增</button>
					    </@shiro.hasPermission>
                        </form>
                    <table class="table table-bordered data-table" id="datatable" >
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="checkall" />
                            </th>
                            <th>ID</th>
                            <th>资源名称</th>
                            <th>父资源</th>
                            <th>资源链接</th>
                            <th>资源类型</th>
                            <th>排序</th>
                        </tr>
                        </thead>
                    </table>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
</div>
<!-- end #content -->

<!--弹框-->
<div class="modal fade bs-example-modal-sm"  id="selectResources" tabindex="-1" role="dialog" aria-labelledby="selectRoleLabel">
    <div class="modal-dialog modal-sm" role="document" style="height: 600px; "  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="selectRoleLabel">分配权限</h4>
            </div>
            <div class="modal-body">
                <form id="boxRoleForm" >
                    <ul id="treeDemo" class="ztree"></ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="saveRoleResources();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--弹框-->


<!--添加弹框-->
<div class="modal fade" id="permissionsModal" tabindex="-1" role="dialog" aria-labelledby="addroleLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addroleLabel">添加资源</h4>
            </div>
            <div class="modal-body">
                <form id="permissionsForm">
                	<input type="hidden" class="form-control" name="id" id="id" placeholder="请输入资源名称"/>
                    <div class="form-group">
                        <label  class="control-label">资源名称:</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="请输入资源名称"/>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">父资源ID:</label>
                        <input type="text" class="form-control" id="pid" name="pid"  placeholder="请输入父资源ID">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">资源链接:</label>
                        <input type="text" class="form-control" id="url" name="url"  placeholder="请输入资源链接">
                    </div>
                    <div class="form-group">
                        <label  class="control-label">资源类型:</label>
                        <select class="form-control" name="type" id="type" >
                            <option value="1">菜单</option>
                            <option value="2">按钮</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">系统:</label>
                        <select class="form-control" name="systemId" id="systemId" >
                            <option value="1">考试系统</option>
                            <option value="2">规培系统</option>
                            <option value="3" selected>osce系统</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">排序:</label>
                        <input type="text" class="form-control" id="sort" name="sort"  placeholder="请输入排序">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="addResources();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--/添加弹框-->

<script type="text/javascript">
    $(".checkall").click(function () {
        var check = $(this).prop("checked");
        $(".checkchild").prop("checked", check);
    });
    var table;
    $(document).ready(function() {
    	table = $('#datatable').DataTable( {
        	"dom": 'rtlip',
        	"ordering": false,
            "searching" : false,
            "sPaginationType": "full_numbers",
            "pageLength": 25,
            "serverSide": true,//开启服务器模式，使用服务器端处理配置datatable
            "processing": true,//开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好
            "language": {
                "Processing": "正在加载中......",
                "zeroRecords": "对不起，查询不到相关数据！",
                "emptyTable": "表中无数据存在！",
                "lengthMenu": "显示 _MENU_ 条记录",
                "infoFiltered": "数据表中共为 _MAX_ 条记录",
                "info": '_START_ 到 _END_ 条,共 _TOTAL_ 条',
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "末页"
                } 
             },
             "ajax": 'permissions',
             "columns": [
                 {
                     "sClass": "text-center",
                     "data": "id",
                     "render": function (data, type, full, meta) {
                         return '<input type="checkbox"  class="checkchild"  value="' + data + '" />';
                     },
                     "bSortable": false
                 },
                 { "data": "id" },
                 { "data": "name" },
                 { "data": "pid" },
                 { "data": "url" },
                 { "data": "type" },
                 { "data": "sort" },
             ],
             columnDefs:[
                 { "orderable": false, "targets": 1 },
                 { "orderable": false, "targets": 2 },
                 { "orderable": false, "targets": 3 },
                 { "orderable": false, "targets": 4 },
                 {
                     "orderable": false,
                     "render": function(data, type, row) {
                         if(data==1){
                             return "菜单";
                         }else if(data==2){
                             return "按钮";
                         }else{
                             return "其他";
                         }
                     },
                     "targets": 5
                 },
                 { "orderable": false, "targets": 6 }
             ],

         } );



     } );

     function search(){
         table.ajax.reload();
     }

     //添加用户
     function addResources() {
         var url = 'permissions/add';
         if($('#id').val() != ''){
         	url = 'permissions/update';
         }
         var name = $("#name").val();
         var pid = $("#pid").val();
         var purl = $("#url").val();
         var sort = $("#sort").val();

         if(name == "" || name == undefined || name == null){
             return layer.msg('资源名称不能为空', function(){
                 //关闭后的操作
             });
         }
         if(pid == "" || pid == undefined || pid == null){
             return layer.msg('父资源id不能为空', function(){
                 //关闭后的操作
             });
         }
         if(purl == "" || purl == undefined || purl == null){
             return layer.msg('资源链接不能为空', function(){
                 //关闭后的操作
             });
         }
         if(sort == "" || sort == undefined || sort == null){
             return layer.msg('资源排序不能为空', function(){
                 //关闭后的操作
             });
         }

         $.ajax({
             cache: true,
             type: "POST",
             url:url,
             data:$('#permissionsForm').serialize(),// 你的formid
             async: false,
             success: function(data) {
                 if(data=="success"){
                     layer.msg('保存成功');
                     table.ajax.reload();
                     $('#permissionsModal').modal('hide');
                 }else{
                     layer.msg('保存失败');
                     $('#permissionsModal').modal('hide');
                 }
             }
         });
     }

     function add(){
 		$('#addroleLabel').text('增加权限');
 		$('#permissionsForm')[0].reset();
 		$('#id').val('');
 		$('#permissionsModal').modal();
 	}
 	
     function update(){
     	var $checkchild = $(".checkchild:checked");
     	var id = $checkchild.val();
         if ($checkchild.length < 1)
         {
             layer.msg('请选择一条数据');
             return;
         }
         if ($checkchild.length > 1)
         {
             layer.msg('一次只能修改一条数据');
             return;
         }
 		$('#addroleLabel').text('修改资源');
 		var $tr = $checkchild.parents("tr[role='row']");
 		var name = $tr.children('td:eq(2)').text();
 		var pid = $tr.children('td:eq(3)').text();
 		var url = $tr.children('td:eq(4)').text();
 		var type = $tr.children('td:eq(5)').text().trim();
 		if(type=='菜单'){
 			type=1;
 		}else{
 			type=2;
 		}
 		var sort = $tr.children('td:eq(6)').text();
 		$('#id').val(id);
 		$('#name').val(name);
 		$('#pid').val(pid);
 		$('#url').val(url);
 		$('#type').val(type);
 		$('#sort').val(sort);
 		$('#permissionsModal').modal();
 		
     }
     
     function delById() {
         if ($(".checkchild:checked").length < 1)
         {
             layer.msg('请选择一条数据');
             return;
         }
//          if ($(".checkchild:checked").length > 1)
//          {
//              layer.msg('一次只能修改一条数据');
//              return;
//          }
		var ids = [];
		$(".checkchild:checked").each(function(){
			ids.push($(this).val());
		});
         layer.confirm('您确定要删除该资源吗？', {
             btn: ['确认','取消'] //按钮
         }, function(){
             $.ajax({
                 cache: true,
                 type: "POST",
                 url:'permissions/delete',
                 data:{ids:ids.join(',')},
                 async: false,
                 success: function(data) {
                     if(data=="success"){
                         layer.msg('删除成功');
                         table.ajax.reload();
                     }else{
                         layer.msg('删除失败');
                     }
                 }
             });
         });
     }
 </script>
<#include "/common/footer.html"/>