<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyicn.mapper.OsceSortMapper">
  <resultMap id="BaseResultMap" type="com.youyicn.model.OsceSort">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sort_id" jdbcType="INTEGER" property="sortid" />
    <result column="exam_id" jdbcType="INTEGER" property="examid" />
    <result column="user_id" jdbcType="INTEGER" property="userid" />
    <result column="user_name" jdbcType="VARCHAR" property="username" />
    <result column="group_id" jdbcType="INTEGER" property="groupid" />
    <result column="sort_no" jdbcType="INTEGER" property="sortno" />
    <result column="station_num" jdbcType="INTEGER" property="stationnum" />
    <result column="finished" jdbcType="INTEGER" property="finished" />
    <result column="unfinished" jdbcType="INTEGER" property="unfinished" />
  </resultMap>


  <!-- 获取某一考站最大的添加的最大的人 -->
  <select id="getMaxOsceSort" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select *  from osce_sort where exam_id = #{exam_id} order by   sort_id desc limit 1
  </select>


  <!-- - 查询出某一个考试的所有人 -->
  <select id="getInUserByExamId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select * from osce_sort where exam_id = #{exam_id}
  </select>

  <!-- - 查询出某一个考试候考的人-->
  <select id="toBeInUserByExamId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select * from osce_sort where exam_id = #{exam_id} and finished = 0
  </select>

</mapper>