<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyicn.mapper.ScoreItemMapper">
  <resultMap id="BaseResultMap" type="com.youyicn.model.ScoreItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
</mapper>