<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyicn.mapper.ToolApplyRecordMapper">
  <resultMap id="BaseResultMap" type="com.youyicn.model.ToolApplyRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="tool_id" jdbcType="BIGINT" property="toolId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  
  <!-- 该方法是查询每个分组的设备数量 -->
    <select id="selectByEntity" parameterType="com.youyicn.model.ToolApplyRecord" resultType="com.youyicn.model.ToolApplyRecord">        
		SELECT *
		FROM osce_tool_apply_record tr order BY tr.id
    </select>  
  <select id="listApplysByToolId" parameterType="Integer" resultType="com.youyicn.model.ToolApplyRecordVo">        
	select ot.tool_num toolNum, ar.department department,ar.start_time startTime,ar.end_time endTime , ar.`status` `status`,u.real_name username, ot.`name` toolname from osce_tool_apply_record ar 
		LEFT JOIN `user` u on  ar.id = u.id 
		LEFT JOIN osce_tool ot on ot.id = ar.tool_id 
  		where ar.tool_id = #{toolId} ORDER BY ar.id DESC
  	
    </select>  
  
</mapper>