<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyicn.mapper.ToolMapper">
  <resultMap id="ToolResultMap" type="com.youyicn.model.Tool">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tool_group_id" jdbcType="INTEGER" property="toolGroupId" />
    <result column="tool_num" jdbcType="VARCHAR" property="toolNum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tool_group_name" jdbcType="VARCHAR" property="toolGroupName" />
    <result column="productor" jdbcType="VARCHAR" property="productor" />
    <result column="buy_time" jdbcType="DATE" property="buyTime" />
    <result column="descri" jdbcType="LONGVARCHAR" property="descri" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
    
   <select id="selectByEntity" parameterType="com.youyicn.model.Tool" resultMap="ToolResultMap">
  		select * from osce_tool
  </select>
   <select id="selectToolsByGroupId" parameterType="Integer" resultMap="ToolResultMap">
  		select * from osce_tool where tool_group_id =#{toolGroupId}
  </select>
</mapper>